input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}



.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
 
    background-color: rgba(10, 10, 10, 0.36);
}

.modal-card {
 /* display: flex;
  justify-content: center !important; */
  top:200px !important;
}

.modal-card-head{
    border-bottom: 1px solid #000;
background-color:#cc8d3b;
}

.modal-card-body {
    border-bottom: 1px solid #000;
background-color:#cc8d3b;
}

.modal-card-foot{
  background-color:#cc8d3b;
}

.button.is-success {
    background-color: #fff;
    border-color: transparent;
    color: #000;
}

.modal-card-title {
  color:white;
}

.modal-card-body > h3 {
  color:white;
}