@import "mixins.scss";

$color: #E0E0E0;
$color-white: white;
$color-green: #76937E;
$color-darkGrey: #938585;


* {
  @include boxSizing(border-box);
  min-height: 0;
  min-width: 0;
}

body {

  font-family: sans-serif;
  margin: 0;

  //background: purple;
}

a {
  color: #000;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: block;
  text-align: center;
  &:hover {
    background: rgba(118,147,126, 0.8);
  }
}

.cover {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-form {
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;

  *:not(input[type="date"]) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  input[type="submit"] {
    background: #cc8d3b;
    border-top: 1px solid #cc8d3b;
    border-bottom: 1px solid #cc8d3b;
    color: #fff;
  }

  * {
    border: 0;
    padding: 10px;
    background: #fff;
    line-height: 32px;
    font-size: 16px;
    outline: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
  }

  *:last-child {
    border-right: 0;
  }
}

.toggleNav {
  display: none;
}

.flex-nav {
  ul {
    list-style: none;
    display: flex;
    background: $color-darkGrey;
    margin: 0;
    padding: 0;
  }
  li {
    flex: 1;
  }

  li a.active {
    background-color: white;
    color: $color-green;
  }
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
}//** INDEX HTML** //

#card-favourite-wrapper {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
#card-favourite-wrapper div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
#card-favourite-wrapper div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  #card-favourite-wrapper div { margin: 0; }
  #card-favourite-wrapper { padding: 0; }

}
.cover{
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
.inroduction{
  display: flex;
  justify-content: center;
}

//** Media queries** //
@media screen and (max-width: 1000px) {
  .flex-form {
    flex-wrap: wrap;
  }
  .flex-form .first-child {
    flex-basis: 100%;
  }
  .flex-form .second-child {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex-basis: 50%;
  }

  .flex-nav .social {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 500px) {
  .flex-nav ul {
    flex-wrap: wrap;
    display: none;
  }

  .flex-nav li {
    flex-basis: 100%;
  }

  .flex-nav .social {
    flex-basis: 25%;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul.open {
    display: flex;
  }

  .r-line {
    width: 100%;
  }
}

//*************************Css for index HTML RESULTS ***************//
.column-layout {
  max-width: 1300px;
  background-color: $color-white;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;

}

.main-column {
  //display: flex;
  flex:3;
  order:2;
  background-color: $color;

}

.side-column {
  flex: 1;
  order:1;
  background-color: $color-green;
  margin: 1px;
}

//** side**//
.line{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.control{

}
.description{

}
.info{

}

.line{
  margin: 1em;
}


.rr{
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.r-line{
  flex-grow:1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rr:nth-child(4n), .rr:nth-child(4n-1) {
  background: $color-darkGrey;
}
.radioBtn{
  border-bottom: 1px solid black;
}
.line-description{
  display: none;
  min-width: 10em;
}

@media screen and (max-width: 800px) {
  .rr{
    flex-direction: column;
    border-bottom: 1px dashed grey;
  }

  .side-column{
    display:none;

  }
  .line-description{
    display: inline-block;
    font-weight: bold;
    margin: 0 1em;
  }
  .r-line{
    justify-content: flex-start;
  }
  .r-line:nth-child(1){
    display: none;
  }
}

