#btnSearch {
    background-color:#FB8C00;
    border-radius: 20px; 
}

#searchForm {
    border-radius: 15px;
    padding:28px;
    background-color: rgba(255,255,255,0.5);
    color:black; 
    font-family: monospace;
}